<div class="list_item">
  <div class="list_title"><%= link_to event.name, event_path(event) %></div>
  <div class="edit_links">
    <%= link_to 'Edit Event', edit_event_path(event), class: "blue super button" %>
    <%= link_to 'Delete', event, class: "red super button", confirm: 'Are you sure?', method: :delete %>
  </div>
  <div class="clear"></div>
</div>

